includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: nullsafe.neverNull
        - identifier: argument.unresolvableType
        - identifier: method.nonObject
        - identifier: binaryOp.invalid
        - identifier: booleanNot.alwaysFalse
        - identifier: identical.alwaysFalse
        - identifier: notEqual.alwaysTrue
        - identifier: instanceof.alwaysTrue
        - identifier: greater.alwaysTrue
        - identifier: empty.expr
        - identifier: deadCode.unreachable
        - identifier: property.onlyWritten
        - identifier: return.unusedType
        - identifier: nullCoalesce.offset
        - identifier: nullCoalesce.expr
        - identifier: match.unhandled
        - identifier: larastan.relationExistence
        -
            message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
        -
            message: '#on an unknown class Intervention\\Image#'
        -
            message: '#Access to an undefined property Laravel\\Socialite\\Contracts\\User::#'
        -
            message: '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection.*::filter\(\) expects#'
        -
            message: '#Parameter \#2 \$key of static method Illuminate\\Database\\Eloquent\\Builder.*::pluck\(\) expects#'
