includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
    level: 5
    ignoreErrors:
        - identifier: nullsafe.neverNull
        - identifier: argument.unresolvableType
        -
            message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
            reportUnmatched: false
        -
            message: '#on an unknown class Intervention\\Image#'
            reportUnmatched: false
