includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/
    level: 4
    ignoreErrors:
        - identifier: nullsafe.neverNull
        -
            message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
            reportUnmatched: false
